@import "./assets/css/reset.css";
@import "./assets/css/select.css";
@import "./assets/css/animation.css";

/* custom */

:root {
  --blue: #3b82f6;
  --blue-light: #b0d8f7;
  --white: #ffffff;
  --black: #000000;
  --grey: #f0eee9;
  --darkgrey: #292d3e;
  --green: #34bf49;
  --red: #ff4c4c;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.75;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(---grey);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 800;
  margin-bottom: 0.7rem;
  margin-top: 1rem;
}

main {
  background-color: var(--grey);
  padding: 1rem;
  width: 100vw;
  height: max-content;
}

.info {
  background-color: var(--green);
  padding: 1rem;
  margin: 1rem 0;
  color: var(--black);
}

.info-grey {
  background-color: var(--grey);
}

img {
  max-width: 90vw;
  display: block;
  margin: 0 auto;
}

.note {
  padding: 0.5rem;
  background-color: var(--blue);
  color: var(--white);
  margin: 0.2rem 0.5rem;
  min-width: 6ch;
  display: inline-block;
}

.note-green {
  background-color: var(--green);
  color: var(--white);
}
@media screen and (min-width: 576px) {
  main {
    min-width: 50vw;
    max-width: 60vw;
    padding: 1rem;
  }

  .wrapper {
    margin: 1rem;
  }
}
