@import "./assets/css/reset.css";
@import "./assets/css/form.css";
@import "./assets/css/animation.css";

/* custom */

:root {
  --blue: #3b82f6;
  --blue-light: #b0d8f7;
  --white: #ffffff;
  --black: #000000;
  --grey: #f9fafb;
  --darkgrey: #292d3e;
  --green: #34bf49;

  --green-light: #a7f3d0;
  --red: #ff4c4c;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.75;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(---grey);
}

.patreon{
  border: 1px solid var(--blue-light);
  padding: 1rem;
  background-color: var(--green-light);
}


h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 800;
  margin-bottom: 0.7rem;
  margin-top: 1rem;
}

p {
  margin: 1rem 0;
}

main {
  background-color: var(--grey);
  padding: 1rem;
  width: 100vw;
  height: max-content;
}

footer {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  padding: 1rem;
}

footer a {
  color: var(--white);
  text-decoration: none;
}

Cardsubtitle{
  color: var(--red);
  padding: 1rem;
  display: block;
  border-bottom: 10px solid var(---green);
}

.info {
  background-color: var(--green-light);
  padding: 1rem;
  margin: 1rem 0;
  color: var(--black);
}

.info-grey {
  background-color: var(--grey);
}
.info-blue {
  background-color: var(--blue);
}
img {
  max-width: 90vw;
  height: auto;
  display: block;
}

figure {
  display: inline;
  padding: 0;
  margin: 1rem auto;
}
figure figcaption,
img {
  margin: 0 auto 3rem auto;
}
figcaption {
  padding: 0;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.note {
  padding: 0.5rem;
  background-color: var(--blue);
  color: var(--white);
  margin: 0.2rem 0.5rem;
  min-width: 6ch;
  display: inline-block;
}

.note-green {
  background-color: var(--green);
  color: var(--black);
}
@media screen and (min-width: 576px) {
  main {
    min-width: 50vw;
    max-width: 60vw;
    padding: 1rem;
  }

  .wrapper {
    margin: 1rem;
  }
  img {
    max-width: 30vw;
  }
}
